* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

hbHamBurger{
    display: none;
    visibility: hidden;
}


hbLogo a img:hover{
    width: 125px;


}
hbBanner{
    display: block;

}

hbBackground{
    display: inline-flex;
    justify-content: space-around;
}

hbBanner hbBackground img{
    width: 100%;
}


hbLogo a img {
    width: 120px;
    transition: ease-in-out 200ms ;


}

hbMenu hbList{
    margin: 2px;
}

hbMenu hbList a {
    text-decoration: none;
    letter-spacing: 0px;
    font-size: medium;
    font-weight: bold;
    color: black;
    transition: ease-in-out 100ms ;

}
hbMenu hbList a:hover{
    font-weight: bolder;
    text-transform: uppercase;
    color: rgb(165, 61, 1);
}


.hbMenuShow {
    display: block;
    visibility: visible;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    list-style-type: none;
    transition: ease-in-out 100ms;

}


.hbMenuHide {
    visibility: hidden;
    display: none;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    list-style-type: none;
    transition: ease-in-out 100ms;

}

.transition{
    -webkit-transition: ease-in-out 1s;
    -moz-transition: ease-in-out 1s;
    -ms-transition: ease-in-out 1s;
    -o-transition: ease-in-out 1s;
    transition: ease-in-out 1s;
  }


/* Extra small devices (phones, 768px and down) */

@media only screen and (max-width: 768px) {


    hbHeader {
        background-color: rgba(255, 255, 255, 0.95);
        margin-top: 10px;
        box-shadow: 1px 2px 30px 2px  rgba(0, 0, 0, 0.068);
        z-index: 100;
        padding: 0;
        border-radius: 35px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        position: fixed;
        text-align: center;
        display: block;
        overflow: hidden;
    
    }
    hbLogo{
        display: inline-block;
        align-self: center;
    
    }

hbHamBurger{
    display: block;
    visibility: visible;
    padding: 4px;
    align-self: center;
    
}
hbHamBurger hbBurger{
    height: 2px;
    width: 22px;
    background-color: black;
    display: block;
    margin: 5px;
}


hbHamBurger hbBurger.burger2{
    width: 30px;
}

hbHamBurger:hover{
    cursor: pointer;
    

}


    hbTabBar{
        display: flex;
        justify-content: space-between;
        margin-left: 5vw;
        margin-right: 5vw;
        margin-top: 2vw;
        margin-bottom: 2vw;

    }

    hbMenu{
        display: none;
        visibility: hidden;
    } 

    
    
    hbMenu hbList {
        width: 100%;
        display: block;
        text-decoration: none;
        padding: 0;
        margin: auto;
        /*border: 1pt solid rgba(0, 0, 0, 0.055);*/
        border-top: 1px solid rgba(0, 0, 0, 0.11);
        border-width: thin;
    }
    hbMenu hbList a{
        display: block;
        padding: 12px;
        width: 100%;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) 
 @media only screen and (min-width: 768) {

    hbHeader {
        background-color: rgba(255, 255, 255, 0.95);
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 10vh;
        margin: auto;
        margin-top: 10px;
        box-shadow: 1px 2px 30px 2px  rgba(0, 0, 0, 0.068);
        z-index: 100;
        padding: 16px;
        border-radius: 100px;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        position: fixed;
    
    }
    
    hbMenu {
        display: flex;
        justify-content: space-around;
        width: 70%;
        list-style-type: none;
        margin: 0;
    
    }

    hbMenu hbList{
        position: static;
    }
    
} */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

hbHeader {
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    margin: auto;
    margin-top: 10px;
    box-shadow: 1px 2px 30px 2px  rgba(0, 0, 0, 0.068);
    z-index: 100;
    padding: 10px;
    border-radius: 100px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: fixed;

}

hbMenu {
    display: flex;
    justify-content: space-around;
    width: 70%;
    list-style-type: none;
    margin: 0;

}
hbMenu hbList{
    margin: 12px;
}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    hbMenu hbList{
        margin: 24px;
    }
    hbMenu hbList a{
        font-size: large;
    }


}


